.header-container
{
    background-color: brown;
    padding: 25px 0px;
    .container
    {
        display: flex;
        justify-content: space-between;
    }
    .link{
        text-decoration: none;
        color: white;
        font-size: 20px;
    }
}
.container{
    width: 85%;
    margin: 0 auto;
}
.addtask-container
{
    font-size: 18px;
    color: white;
    .title
    {
        display: flex;
        justify-content: space-around;
        padding: 25px 0px;
    }
    .row{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .col
    {
        width: 30%;
    }
}
.form-container
{
    color: white;
    .form{
        width: 60%;
        margin: 0 auto;
        font-size: 19px;
        .lbl,.txt{
            display: block;
            margin-bottom: 10px;
        }
    }
}
body{
    background-color: rgb(158, 73, 73);
}
